.message-handler {
    display: flex;
    flex-direction: column;
    color: white;
}

.message-handler__title {
    font-size: 25px;
}

.handle-message__input {
    text-align: center;
    border: solid 1px gray;
    border-radius: 5px;
    width: 100px;
    padding: 5px;
    margin-right: 10px;
}

.virtual-contract__messages-container {
    margin-top: 20px;

    & > h3 {
        margin-bottom: 20px;
    }
}

.virtual-contract__message {
    margin-bottom: 15px;
}

.message-handler__no-contract-title {
    font-size: 25px;
    margin-top: 20px;
}