.varaeditor {
    width: 100vw;
    height: 63rem;

    & > * {
        width: 100%;
    }
}

.varaeditor__edition-buttons {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-right: 10px;
}

.varaeditor__edition-options {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    margin-bottom: 5px;
    padding-left: 40px;
    width: fit-content;
    color: white;
    height: 50px;

    & > * {
        display: flex;
        justify-content: center;
        align-items: center;
        min-width: 140px;
        padding: 0 10px;
        height: 40px;
        border-radius: 20px;
        transition: all ease-in-out 0.3s;
        cursor: pointer;
    }

    &.varaeditor__edition-options--codeblock-options {
        margin-top: 0;

        & > * {
            height: 30px;
            min-width: 120px;
            font-size: 15px;
        }
    }
}

.varaeditor__edition-options--selected {
    color: black;
    font-weight: bold;
    border: none;
    background-color: #27B435;
}


.varaeditor__container {
    height: 59.6rem;

    & > * {
        height: 100%;
    }
}

.varaeditor__contract-editor {
    display: inline-flex;
    box-sizing: border-box;
    width: 100%;
    height: 100%;
}

.varaeditor__contract-editor-logic {
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    width: 100%;
}

.varaeditor__contract-editor-logic__container {
    flex-shrink: 1;
    flex-grow: 0;
    height: 100%;
    overflow-y: auto;
    
    outline: solid 1px white;

    display: flex;
    justify-content: center;
}

.varaeditor__contract-editor-logic__container__buttons-block {
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    border: 1px solid white;
    border-left: none;
    padding: 10px 10px;
    gap: 10px;

    & > p {
        font-size: large;
        text-align: center;
        color: white;
    }
}

.varaeditor__contract-editor-logic--sketch {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    padding: 20px;
    width: 100%;
}

.varaeditor__structs-editor {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow-x: auto;
    gap: 20px;
    padding: 10px 20px 20px 40px;
}

.varaeditor__enums-editor {
    display: flex;
    flex-wrap: wrap;
    align-content:flex-start;
    gap: 20px;
    padding: 10px 20px 20px 20px;
    overflow-y: auto;
}

.varaeditor__virtual-contract-data {
    display: flex;
    // justify-content: center;
}