.sketch__container {
    position: relative;
}

.sketch_eraser-button {
    position: absolute;
    top: 0;
}

.sketch_eraser-button-image {
    width: 20px;
}

.sketch_eraser--left {
    left: 30px;
}